.markdown {
  @apply leading-relaxed;
}

.markdown p {
  @apply my-6 text-justify;
}

.markdown ul,
.markdown ol {
  @apply my-3 list-inside ml-4;
}

.markdown li {
  @apply my-2;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

.markdown a {
  @apply text-ctp-rosewater hover:underline;
}

.markdown h1 {
  @apply text-3xl mt-4 mb-4 font-bold;
}

.markdown h2 {
  @apply text-2xl mt-4 mb-4 font-bold;
}

.markdown h3 {
  @apply text-xl mt-4 mb-4 font-bold;
}

.markdown h4 {
  @apply text-lg mt-4 mb-4 font-semibold;
}

.markdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown table {
  @apply w-full table-auto;
}

.markdown th,
.markdown td {
  @apply border p-2;
}

.markdown blockquote {
  @apply relative p-4 italic border-l-4 bg-ctp-mantle border-ctp-lavender;
}

.markdown pre {
  @apply p-4 bg-ctp-mantle;
}
